@model VistaDepartamento

<h1 style="color: blue">
    Paginacion individual Vista Departamentos
</h1>
<h2 style="color: red">
    Registro @Model.Posicion de @ViewData["ULTIMO"]
</h2>

<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <a asp-action="PaginarRegistroVistaDepartamento" asp-controller="Paginacion" asp-route-posicion="1">
                Primero
            </a>
        </li>
        <li class="list-group-item">
            <a asp-action="PaginarRegistroVistaDepartamento" asp-controller="Paginacion" asp-route-posicion="@ViewData["ANTERIOR"]">
                Anterior
            </a>
        </li>
        <li class="list-group-item">
            <a asp-action="PaginarRegistroVistaDepartamento" asp-controller="Paginacion" asp-route-posicion="@ViewData["SIGUIENTE"]">
                Siguiente
            </a>
        </li>
        <li class="list-group-item">
            <a asp-action="PaginarRegistroVistaDepartamento" asp-controller="Paginacion" asp-route-posicion="@ViewData["ULTIMO"]">
                Ultimo
            </a>
        </li>
    </ul>
</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-info">@Model.IdDepartamento</li>
    <li class="list-group-item list-group-item-danger">@Model.Nombre</li>
    <li class="list-group-item list-group-item-warning">@Model.Localidad</li>
</ul>
